$color1 : #0e2449;
$color2 : #373d80;
$color3 : #7b60c7;
$color4 : #e08efb;
$color5 : #ffc8f4;

/* paleta 2 */
$color10: #ffb2ce;
$color9: #ffd3a2;
$color8: #085aca;
$color7: #05b7f1;
$color6 : #0efff8;

$fuente1: 'Questrial',
sans-serif;
$fuente2: 'Montserrat',
sans-serif;